* {
  box-sizing: border-box;
}

.container {
  margin: 90px 30px;
  width: 535px;
  height: 660px;
  border: 2px solid lightgrey;
}

#formcontainer {
  padding-left: 25px;
  padding-right: 25px;

}

.container header {
  height: 75px;
  margin-left: -25px;
  margin-bottom: 26px;
  margin-right: -25px;
  background-color: #468CC8;
  padding: 20px;
  font-size: 25px;
  font-weight: lighter;
  color: white;



}
.select {
  margin: 5px;
  height: 35px;
}
.form {
  margin: 8px;
  margin-left: 0px;
  margin-right: 0px;
  height: 35px;
  width: 484px;
  font-size: 11px;
  padding-left: 30px;
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.dropmenu {
  -webkit-appearance: menulist-button;
  margin: 8px;
  margin-left: 0px;
  margin-right: 0px;
  height: 35px;
  width: 484px;
  font-size: 12px;
  list-style: none;
  background-color: transparent;
  font-color: lightgrey;
}

 #user-comment {
  height: 80px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding-top: 12px;
  padding-right: 12px;
}

.inputLine{
  margin: 0px;
  position: relative;

  i {
    color: lightgrey;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 10px;
    height: 2px;
    font-size: 12px;
  }
}
#user-phone {
  margin-bottom: 15px;
}

#submitbar {
  background-color: #CADEEF;
  height: 75px;
  width: 531px;
  margin-right: 0px;
  margin-top: 16px;
  padding: 20px;

  .submit {
    height: 35px;
    width: 100px;
    background-color: #468CC8;
    color: white;
    font-size: 12px;
    border-style: none;
    border-radius: 2px;

  }
}